[user]
  name = Jake Oktawiec
  email = jake@strava.com
[color]
  diff = auto
  status = auto
  interactive = auto
[core]
  excludesfile = ~/.gitignore_global
  editor = vi
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
  g = grep --break --heading --untracked --color=auto -p -1
[push]
  default = upstream

[grep]
  lineNumber = true
